<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Diploma Life</h1>
    <img src="https://drive.google.com/thumbnail?id=1ks6fAfx2ewt8FlVY5hx2OSDfXBe2Ojtr=w1000" alt="no image">
</body>
</html>