<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
           background-color: rgb(255, 226, 189);
        }
        #container2{
            background-image: url("./images/bg2.jpg");
            background-position: 50%;
            background-size: cover;
            display: flex;
            justify-content: center;
            margin-inline: auto;
            color: white;
            width: 350px;
            height: 550px;
        }
        #progressbar h1{
            margin-left: 1%;
            top: 12%;
            position: absolute;
        }
        #container{
            margin-inline: auto;
            width: 350px;
            background-image: url("./images/background.jpg");
            background-size: cover;
            text-align: center;
            color: white;
            justify-content: center;
            display: flex;
            gap: 10px;
            flex-direction: row;
        }
        #heading{
            padding: 0.5px;
            background-color: white;
            height: 7%;
            color: rgb(0, 100, 45);
        }
        #pgbarline{
            margin-top: 140px;
            width: 80px;
            height: 390px;
            background-color: rgb(138, 138, 138);
        }
        #pgbar{
            margin-top: 140px;
            width: 80px;
            height: 25%;
            background-color: rgb(0, 255, 149);
        }
        #model{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        #model input{
            width: 15px;
        }
        #model a{
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>
    <div id="container">
    <div id="plan">
    <h1 id="heading">Over All Life</h1>
    <h3>My plan for next few years</h3>
    <div id="model">
        <h4><a href="/diploma">Complete 10th and Plus Two</a></h4>
        <input type="checkbox">
    </div>
    <div id="model">
        <h4><a href="/projects">Create some side projects</a></h4>
        <input type="checkbox">
    </div>
    <div id="model">
        <h4><a href="/diploma">Complete diploma</a></h4>
        <input type="checkbox">
    </div>
    <div id="model">
        <h4><a href="/cet">Btech in CET</a></h4>
        <input type="checkbox">
    </div>
    <div id="model">
        <h4><a href="/company">Work in a company</a></h4>
        <input type="checkbox">
    </div>
    <div id="model">
        <h4><a href="/psc">PSC Exams</a> </h4>
        <input type="checkbox">
    </div>
    <div id="model">
        <h4><a href="govt job">Me A Govt Job</a></h4>
        <input type="checkbox">
    </div>
    </div>
    <div id="progressbar">
        <h1>25%</h1>
        <div id="pgbarline">
            <div id="pgbar">

            </div>
        </div>
    </div>
</div>
<div id="container2">
    <div id="cont2main">
        <h1>Daily Updates</h1>
        <div id="input">
            <textarea id="textarea" name="textarea" rows="5.5" cols="25"></textarea>
        </div>
        <input type="submit" value="submit">    
        
    </div>
</div>
</body>
</html>