<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        body{
            font-family: Arial, Helvetica, sans-serif;
            background-image: url("./images/webdesign.png");
            background-size: cover;
            margin: 0;
            padding: 0;
        }
        #catogary{
            display: flex;
            flex-direction: column;
            background-color: rgb(36, 36, 36);
            opacity: 1;
            width: 220px;
            height: 100vh;
            size: cover;
        }
        #catogary #names{
            margin-top: 18%;
            margin-left: 15%;
            display: flex;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
            gap: 13px;
            flex-direction: column;
        }
        #catogary #names #name a{
            color: white;
            text-decoration: none;
            
        }
        #catogary #names #name a:hover{
            transition: 0.3s;
            background-color: rgb(0, 66, 22);
            color: rgb(3, 245, 132);
            text-decoration: none;
            
        }
    </style>
</head>
<body>
   <div id="catogary">
        <div id="names">
        <div id="name">
        <a href="/action">ACTION</a>
        </div>
        <div id="name"><a href="/action">ADVENTURE</a></div>
        <div id="name"><a href="/action">ARCADE</a></div>
        <div id="name"><a href="/action">HORROR</a></div>
        <div id="name"><a href="/action">STORY-MODE</a></div>
        <div id="name"><a href="/action">BATTLE ROYALE</a></div>
        <div id="name"><a href="/action">ONLINE</a></div>
        <div id="name"><a href="/action">MULTIPLAYER</a></div>
        <div id="name"><a href="/action">FPP</a></div>
    </div>
   </div>
</body>
</html>